# Installation H2 

Le système utilisé pendant les TME est H2.

In [4]:
!python.exe -m pip install --upgrade pip
!pip install psycopg2-binary

SyntaxError: invalid syntax (2477833363.py, line 1)

**Relancez le kernel**: Kernel -> Restart kernel ...

In [2]:
import psycopg2

In [3]:
!pwd

'pwd' n'est pas reconnu en tant que commande interne
ou externe, un programme ex‚cutable ou un fichier de commandes.

Télécharger le pilote de H2

In [ ]:
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/postgresql-42.6.0.jar -O postgresql-42.6.0.jar
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/h2-2.1.214.jar -O h2-2.1.214.jar

In [ ]:
import os
local_dir = "./data"
os.makedirs(local_dir, exist_ok=True)
os.listdir(local_dir)

Démarrer le serveur SQL H2

In [ ]:
%%bash --bg --out output
java -Dh2.bindAddress=127.0.0.1 -cp h2-2.1.214.jar:postgresql-42.6.0.jar org.h2.tools.Server -baseDir ./data -ifNotExists

## Fonctions utiles

In [ ]:
def connect_H2(db,user,password):
    global connection
    try:
        connection
    except:
        connection = None
    if connection != None:
        try:
            connection.close()
            print("Connection closed")
        except  Error as e:
            print(f"The error '{e}' occurred")
    try:
        # connection = sqlite3.connect(path,isolation_level='DEFERRED')
        connection = psycopg2.connect(f"dbname={db} user={user} password={password} host=localhost port=5435")
        print("Connection to H2 DB successful")
    except Exception as e:
        print(f"The error '{e}' occurred")
    return connection

In [ ]:
def execute(connection, query, show=True,close=True):
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        print(cursor.rowcount,"rows")
        if show and cursor.rowcount:
            names = [desc[0] for desc in cursor.description]
            for attr in names:
                print(str(attr[:16]).ljust(16),end='|')
            print()
            for attr in names:
                print(''.ljust(17,'-'),end='')
            print()
            for ligne in cursor:
                for attr in ligne:
                    print(str(attr)[:16].ljust(16),end='|')
                print()
        if close:
            cursor.close()
    except Exception as e:
        print(f"The error '{e}' occurred")
        cursor=None
    return cursor

## Connexion à H2

In [ ]:
connection = connect_H2("jo","ba","ba")

In [ ]:
execute(connection,"drop all objects")

# TD 4 et TME4 : PREMIERS PAS EN SQL

Ce TD/TME utilise les données contenues dans les fichiers **bd_jo_v1_H2.sql** et **bd_jo_v2_H2.sql**

## TD4 

Ce TD utilise les données contenues dans les fichiers **bd_jo_v1_H2.sql** 

BASE DE DONNÉES **JEUX OLYMPIQUES D'HIVER 2014** <br/>
On considère le schéma de la base JEUXOLYMPIQUE2014 qui décrit les athlètes et leurs résultats aux
épreuves des Jeux Olympiques d'Hiver Sotchi 2014 :<br/>


**ATHLETE** ( <u>NOM,PRENOM</u>,DATENAISSANCE,PAYS)<br/>
**RANGEPREUVE**( <u>NOMATH*,PRENOMATH*,EPREUVE,SPORT,CATEGORIE</u>,DATEDEBUT,DATEFIN,RANG)<br/>

La relation ATHLETE contient des informations concernant les athlètes ayant participé aux Jeux
Olympiques. Plus précisément : leur nom, leur prénom, leur date de naissance si elle est renseignée
(ou NULL sinon) ainsi que le pays qu'ils représentent.
La relation RANGEPREUVE renvoie pour chaque athlète identifie par NOMATH ET PRENOMATH et
chaque épreuve identifiée par SPORT, EPREUVE ET CATEGORIE (HOMMES OU FEMMES) à laquelle il a
participé, le RANG qu'il a obtenu. On pour chaque épreuve les dates de début et de fin (DATEDEBUT,
DATEFIN).
Lorsqu'un athlète participe à une épreuve puis est disqualifié, son rang n'est pas renseigné (NULL)

### Télécharger les données, créer et charger les données

Télécharger le fichier SQL **bd_jo_v1_H2.sql** contenant les données de la base JO.

In [ ]:
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/bd-jo-v1_H2.sql -O bd-jo-v1_H2.sql

Créer les tables et charger les données bd_jo_v1_H2.sql

In [ ]:
schemafile=open("bd-jo-v1_H2.sql",mode="r",encoding='utf-8')
create_schema=schemafile.read()
execute(connection, create_schema)
connection.commit()

### Requêtes

**ATTENTION :** il ne faut PAS terminer les requêtes avec ';'

**Q1**. Les athlètes français.<br/>
Résultat : (92 lignes)

In [ ]:
query="""




"""

In [ ]:
# Afficher le nombre de n-uplets (par defaut)
execute(connection,query, show=False)

In [ ]:
# Afficher le résultat (par defaut)
execute(connection,query)

**Q2**. La date de naissance de Denis TEN.<br/>
Résultat: 1993-06-13

In [ ]:
query="""



"""
execute(connection,query)

**Q3**. Les épreuves (sport, épreuve) dans lesquelles Therese JOHAUG a gagné une médaille, ainsi
que le rang qu'elle a obtenu.<br/>
Indice : pour gagner une médaille, il faut avoir été classé dans le rang 1, 2 ou 3.<br/>
Résultat : ('Ski de fond', '10km', 3) et ('Ski de fond', '30km', 2)

In [ ]:
query="""



"""
execute(connection,query)

**Q4**. La nationalité des athlètes Kamil STOCH et Suk-Hee SHIM.<br/>
Résultat : ('SHIM', 'Suk-Hee', 'Corée du Sud') et ('STOCH', 'Kamil', 'Pologne')

In [ ]:
query="""



"""
execute(connection,query)

**Q5**. Tous les sports des Jeux Olympiques.<br/>
Résultat : (12 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q6**. Le nom des athlètes originaire de Scandinavie (pays : Danemark, Finlande, Norvège, Suède,
Islande) triés par le nom, puis par leur prénom.<br/>
Résultat : (186 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q7**. Le nom de sports contenant la chaîne de caractères 'ski' (par exemple, 'Ski de fond', 'Saut à
ski', …).<br/>
Résultat : Ski de fond, Ski alpin, Ski acrobatique, Saut à ski

In [ ]:
query="""



"""
execute(connection,query)

**Q8**. Les athlètes (nom, prénom) dont la date de naissance n'est pas renseignée.<br/>
Résultat : (1516 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q9**. Les athlètes qui ont participé à l'épreuve '10km' de 'Ski de fond' sans être disqualifié (rang
inconnu), triés par rang.<br/>
Résultat : (75 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q10**. Les épreuves (sport, épreuve et categorie) qui ont eu lieu après le 21 février 2014.<br/>
Résultat : (4 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q11**. Les épreuves (sport, épreuve et categorie) qui ont duré entre 2 et 4 jours, ainsi que leur
durée exacte.<br/>
Résultat : (16 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q12**. Les épreuves (sport, épreuve et catégorie) dont le final a eu lieu pendant un weekend.<br/>
Résultat : (26 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q13**. Les athlètes (nom, prénom) femmes de nationalité française.<br/>
Résultat : (26 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q14**. Les athlètes (nom, prénom) qui ont aujourd'hui moins de 30 ans et qui ont gagné une
médaille.<br/>
Résultat : depend de la date d'exécution

In [ ]:
query="""



"""
execute(connection,query)

**Q15**. Les athlètes (nom, prénom) qui avaient leur anniversaire à la date de fin de l'épreuve dans
laquelle ils participaient.<br/>
Résultat : ('GARANICHEV', 'Evgeniy', 13, 2), ('SKOBREV', 'Ivan', 8, 2) et ('WEIBRECHT',
'Andrew', 10, 2)

In [ ]:
query="""



"""
execute(connection,query)

**Q16**.  Les athlètes français (nom, prénom) qui ont gagné une médaille.<br/>
Résultat : (12 lignes)

In [ ]:
query="""



"""
execute(connection,query)

**Q17**. Les sports qui n'ont pas d'épreuves féminines.<br/>
Résultat : Combiné nordique

In [ ]:
query="""



"""
execute(connection,query)

## TME4 

Ce TME utilise les données contenues dans les fichiers **bd_jo_v1_H2.sql** et **bd_jo_v2_H2.sql**

### Exemple d'utilisation H2

Tous les athlètes

In [ ]:
cursor=execute(connection,query="SELECT * FROM athlete",show=True)

In [ ]:
cursor.query

In [ ]:
cursor.rowcount

In [ ]:
cursor.description

Le nombre de n-uplets stockés dans la relation Athlete.

In [ ]:
cursor=execute(connection,query="select count(*) from Athlete", show=True)

### Exercice 1

Exprimer les requêtes suivantes en SQL

**Q1**. Les athlètes (nom, prénom) d'Inde (104 lignes).<br/>
Résultat : IQBAL Nadeem, KESHAVAN Shiva, THAKUR Himanshu

In [ ]:
query="""



"""
execute(connection,query)

**Q2** Le prénom des athlètes dont le nom est 'GOLD'.<br/>
Résultat : Arielle, Gracie, Taylor

In [ ]:
query="""



"""
execute(connection,query)

**Q3** La nationalité de AONO Ryo.<br/>
Résultat : Japon

In [ ]:
query="""




"""
execute(connection,query)

**Q4** Le gagnant du médaille d'or de chaque épreuve. Triez le résultat par sport, puis par épreuve.<br/>
Résultat : (74 lignes)

In [ ]:
query="""





"""
execute(connection,query)

**Q5** Toutes les épreuves (sport, épreuve, catégorie) triées par la date de fin de l'épreuve.   
Résultat : (73 lignes)

In [ ]:
query="""





"""
execute(connection,query)

**Q6** Les athlètes nés entre 1990 et 1995.<br/>
Résultat : (87 lignes)

In [ ]:
query="""





"""
execute(connection,query)

**Q7** Les athlètes suisses ayant participé au sport 'Biathlon' et disqualifié à au moins une épreuve
dece sport (solution sans jointure, avec une opération ensembliste).<br/>
Résultat : GASPARIN Elisa

In [ ]:
query="""





"""
execute(connection,query)

**Q8** Les épreuves dans lesquelles il n'y a pas eu une médaille d'argent (solution sans jointure,
avec une opération ensembliste). <br/>
Résultat : Ski alpin Descente Femmes

In [ ]:
query="""





"""
execute(connection,query)

### Exercice 2

On considère maintenant le schéma complet de la base JO2014

**PAYS** (<u>CODEPAYS</u>, NOMP)<br/>
**SPORT** (<u>SID</u>, NOMSP)<br/>
**EPREUVE** (<u>EPID</u>, SID*, NOMEP, CATÉGORIE, DATEDEBUT, DATEFIN) <br/>
**ATHLETE** (<u>AID</u>, NOMATH, PRENOMATH, DATENAISSANCE, CODEPAYS*) EQUIPE (EQID, CODEPAYS*)<br/>
**ATHLETESEQUIPE** (<u>EQID*, AID*</u>)<br/>
**RANGINDIVIDUEL** (<u>EPID*, AID*</u>, RANG)<br/>
**RANGEQUIPE** (<u>EPID*, EQID*</u>, RANG)<br/>
    

La relation PAYS contient le code et le nom de tous les pays, même si ils n'ont pas participé aux Jeux Olympiques. Les sports (n-uplets de la relation SPORT) sont un ensemble d'épreuves (n-uplets de la relation EPREUVE). Pour chaque épreuve on connaît son nom et les date de début et fin de l'épreuve. Les épreuves peuvent être individuelles ou par équipe. Dans le premier cas, la participation des athlètes (n-uplets de la relation ATHLETE) est stocké dans la table RANGINDIVIDUEL qui contient en plus le rang qu'ils ont obtenu (1 pour la médaille d'or). Pour les épreuves par équipe les résultats sont stockés dans la relation RANGEQUIPE, alors que l'information sur le pays de chaque équipe et ses participants et stocké dans les relations EQUIPE et ATHLETESEQUIPE. Dans les relations RANGINDIVIDUEL et RANGEQUIPE l'attribut rang est égal à null si l'athlète ou l'équipe a été disqualifié.

#### Télécharger les données, créer et charger les données

Télécharger le fichier SQL **bd_jo_v2_H2.sql** contenant les données de la base JO.

In [ ]:
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/bd-jo-v2_H2.sql -O bd-jo-v2_H2.sql

Créer les tables et charger les données bd_jo_v2_H2.sql

In [ ]:
schemafile=open("bd-jo-v2_H2.sql",mode="r",encoding='utf-8')
create_schema=schemafile.read()
execute(connection, create_schema)
connection.commit()

#### Requêtes

Exprimer les requêtes suivantes en SQL :

**Q9**. Les épreuves (sport, épreuve, catégorie) individuelles.<br/>
Résultat : (73 lignes)

In [ ]:
query="""






)
"""
execute(connection,query)

**Q10**. Les résultats (nom, prénom, pays de l'athlète et rang) de l'épreuve '1000m' du 'Patinage de vitesse' pour les 'Femmes'.<br/>
Résultat : (36 lignes)

In [ ]:
query="""




)
"""
execute(connection,query)

**Q11**. Le nom et prénom des athlètes qui forment l'équipe qui a gagné la médaille d'or dans l'épreuve 'relais 4x6km' de 'Biathlon' de 'Femmes'.   
Résultat : SEMERENKO Vita, SEMERENKO Valj, DZHYMA Juliya, PIDHRUSHNA Olena

In [ ]:
query="""





)
"""
execute(connection,query)

# Fermer la connexion

In [ ]:
connection.close()