# TD et TME 8: CREATION DE SCHEMAS-CONTRAINTES D'INTEGRITE

## Installation H2 

Le système utilisé pendant les TME est H2.

In [ ]:
pip install psycopg2-binary

Télécharger le pilote de H2

In [ ]:
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/postgresql-42.6.0.jar -O postgresql-42.6.0.jar
!wget https://nuage.lip6.fr/s/LqD9N23kxrfHopr/download?path=agreg/h2-2.1.214.jar -O h2-2.1.214.jar

**Relancez le kernel**: Kernel -> Restart kernel ...

https://www.psycopg.org/docs/
http://localhost:8082

In [ ]:
import psycopg2
import os
local_dir = "./data"
os.makedirs(local_dir, exist_ok=True)
os.listdir(local_dir)

### Démarrer le serveur SQL H2

In [ ]:
#Remplacez les valeurs des variables suivantes
#NN= numéro de groupe: chaine de caractères (ex: 01, 02,.., 13), remplacer xx 
NN = '99'
#BB=numero binome: chaîne de caractères (assigné par l'enseignant, ex: 01,..., 15), remplacer xx
BB = '99'
port = 5000+int(NN+BB)
print(f'Le numero du port utilisé pour la connexion à la BD est: {port}')

In [ ]:
%%bash --bg --out output -s "$port"
java -Dh2.bindAddress=127.0.0.1 -cp h2-2.1.214.jar:postgresql-42.6.0.jar org.h2.tools.Server -pg -pgPort $1 -baseDir ./data -ifNotExists

## Fonctions utiles

### connect_H2

In [ ]:
def connect_H2(db,user,password):
    global connection
    try:
        connection
    except:
        connection = None
    if connection != None:
        try:
            connection.close()
            print("Connection closed")
        except  Error as e:
            print(f"The error '{e}' occurred")
    try:
        # connection = sqlite3.connect(path,isolation_level='DEFERRED')
        connection = psycopg2.connect(f"dbname={db} user={user} password={password} host=localhost port={port}")
        print("Connection to H2 DB successful")
    except Exception as e:
        print(f"The error '{e}' occurred")
    return connection

### execute

In [ ]:
def execute(connection, query, show=True,close=True):
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        print(cursor.rowcount,"rows")
        if show and cursor.rowcount:
            names = [desc[0] for desc in cursor.description]
    
            lengths={}
            for attr in names:
                lengths[attr]=len(attr)
            for ligne in cursor:
                i=0
                for attr in ligne:
                    lengths[names[i]]=max(lengths[names[i]],len(str(attr).replace('\n',' ')))
                    i=i+1
            print('|',end='')
            for attr in names:
                print(str(attr).ljust(lengths[attr]),end='|')
            print()
            print('|',end='')
            for attr in names:
                print(''.ljust(lengths[attr]+1,'-'),end='')
            print()
            cursor.execute(query)
            for ligne in cursor:
                i=0
                print('|',end='')
                for attr in ligne:
                    print(str(attr).replace('\n',' ')[:lengths[names[i]]].ljust(lengths[names[i]]),end='|')
                    i=i+1
                print()
        if close:
            cursor.close()
    except Exception as e:
        print(f"The error '{e}' occurred")
        cursor=None
    return cursor

### Connexion à H2

In [ ]:
connection = connect_H2("jo"+f'{port}',"ba","ba")

## Exercice 1 : Création de schéma 
Créer le schéma préparé en TD

On considère le schéma Entreprise décrit ci-dessous.

- EMPLOYE (<u>NumSS</u>, NomE, PrenomE, NumChef*, VilleE, DateNaiss) 
- PROJET(<u>NumProj</u>, NomProj, RespProj*, VilleP, Budget) 
- EMBAUCHE (<u>NumSS*, NumProj*</u>, DateEmb, Profil*) 
- GRILLE_SAL (<u>Profil</u>, salaire)

La clé primaire de chaque relation est soulignée et les attributs des clés étrangères sont suivis d’un astérisque. Cette base contient des informations sur des employés et sur les projets dans lesquels ils sont impliqués. Ces employés sont embauchés dans un projet sur un profil donné et perçoivent un salaire en fonction de ce profil. Le chef d'un employé dans la table Employé et le chef d'un projet dans la table Projet sont des employés. En plus des contraintes de clé et des contraintes référentielles indiquées dans le schéma, on voudrait intégrer les contraintes suivantes :

Domaines
- Le numéro de sécurité sociale possède exactement 5 chiffres.
- Les attributs textuels (NomE, PrenomE, NomProj, Profil) ne dépassent pas 20 caractères (ils peuvent en avoir moins).
- La ville d’un employé (VillE) ou d’un projet (VilleP) se limite à 'Paris', 'Lyon' et 'Marseille' et sa longueur ne dépasse pas 9 caractères.
- Le numéro d’un projet varie entre 5 et 7 chiffres.
- Le salaire peut avoir deux chiffres après la virgule et ne dépasse pas 90 000.
- Le budget est un entier sur 6 chiffres (sans virgule)
- Aucun employé ne peut avoir plus de 70 ans au moment où il est enregistré dans la table Employé.

Clés
- Il n'y a pas deux employés avec le même nom et le même prénom.

Not-null
- Chaque projet doit avoir un responsable.
- Dans la table Embauche, NumSS et NumProj représentent un employé et un projet existants. De même, profil est un profil existant.

Donner en SQL les instructions de création des contraintes de domaines indiquées dans l'énoncé.

#### Supprimer tout le schéma de la base courante

In [ ]:
query="""
DROP ALL OBJECTS
"""
execute(connection,query,show=True)

#### Définition des domaines

Le numéro de sécurité sociale possède exactement 5 chiffres

In [ ]:
query="""
create domain dnumss as numeric(5) check (length(value)=5)
"""
execute(connection,query,show=True)

Les attributs textuels (NomE, PrenomE, NomProj, Profil) ne dépassent pas 20 caractères (ils peuvent en avoir moins)

In [ ]:
query="""
create domain dchaines as ...
"""
execute(connection,query,show=True)

La ville d’un employé (VilleE) ou d’un projet (VilleP) se limite à 'Paris', 'Lyon' et 'Marseille' et sa longueur ne dépasse pas 9 caractères

In [ ]:
query="""
create domain dvilles as ...
"""
execute(connection,query,show=True)

Le numéro d’un projet varie entre 5 et 7 chiffres.

In [ ]:
query="""
create domain dnumproj as ...
"""
execute(connection,query,show=True)

Le salaire peut avoir deux chiffres après la virgule et ne dépasse pas 90 000.

In [ ]:
query="""
create domain dsal as ...
"""
execute(connection,query,show=True)

Budget sur 6 chiffres

In [ ]:
query="""
create domain dbudget as ...insertions
"""
execute(connection,query,show=True)

Aucun employé ne peut avoir plus de 70 ans au moment où il est enregistré dans la table Employé.

In [ ]:
query="""
create domain ddatenaiss as ...
"""
execute(connection,query,show=True)

#### Interroger le catalogue pour vérifier les domaines existants

In [ ]:
query="""
select domain_name 
from INFORMATION_SCHEMA.DOMAINS 
"""
execute(connection,query,show=True)

In [ ]:
query="""
SELECT domain_name,check_clause 
FROM information_schema.domain_constraints a, information_schema.check_constraints b
where a.constraint_name=b.constraint_name
"""
execute(connection,query)

Donner en SQL les instructions de création du schéma de la base en leur associant les contraintes de clés, référentielles et de domaines indiquées dans l'énoncé.

#### Définition des tables

Table Employe

In [ ]:
query="""
create table Employe(
...
)
"""
execute(connection,query,show=True)

Table Projet

In [ ]:
query="""
create table Projet(
...
)
"""
execute(connection,query,show=True)

Table Grille_sal

In [ ]:
query="""
create table Grille_sal(
...
)
"""
execute(connection,query,show=True)

Table Embauche

In [ ]:
query="""
create table Embauche(
...
)
"""
execute(connection,query,show=True)

#### Alter table (ajouter des contraintes)

En considérant que la table projet a été créée, dans ce cas utiliser la commande 

    alter table <table> add constraint <nom><expression>

pour associer la contrainte à Projet

Un responsable de projet doit habiter la ville du projet dont il est responsable. Donner en SQL l'instruction permettant d’exprimer cette contrainte de deux manière différentes

In [ ]:
query="""
alter table PROJET add constraint ... 
"""
execute(connection,query,show=True)

#### Interroger le catalogue de données

In [ ]:
query="""
select TABLE_NAME
from INFORMATION_SCHEMA.TABLES 
where TABLE_SCHEMA = 'public'
"""
execute(connection,query,show=True)

In [ ]:
query="""
SELECT t.table_name,constraint_name 
FROM information_schema.table_constraints t
"""
execute(connection,query,show=True)

In [ ]:
query="""
SELECT t.table_name,constraint_name,column_name,data_type 
FROM information_schema.table_constraints t, information_schema.columns c
where t.table_name=c.table_name
"""
execute(connection,query,show=True)

## Exercice 2 : Insertion de données

Dans ce qui suit, il vous est demandé d'effectuer des insertions de n-uplets dans des tables.

Syntaxe des insertions :

    insert into Table values ('val1', 'val2', ….)

par exemple, pour insérer une employée 'LARS Anna', qui habite 'Paris' et qui est née le 25-08-1975, il suffit d'exécuter l'instruction ci-dessous

    insert into employe values('21456','LARS', 'Anna',null, 'paris', parsedatetime('25-08-1975', 'dd-MM-yyyy' ))
    
et de constater que la système retourne bien le message

    1 rows


Syntaxe des suppressions :

    delete from Table 

supprime tous les nuplets de la table (la table existera toujours mais sera vide)

### Insérez dans chaque table au moins un n-uplet qui vérifie les contraintes d'intégrité. Vous avez la liberté de choisir les valeurs que vous voulez. Par exemple, l'instruction suivante insère un employé qui vérifie les contraintes

In [ ]:
query="""
insert into employe values 
"""
execute(connection,query,show=True)

In [ ]:
query="""
select * from employe
"""
execute(connection,query,show=True)

In [ ]:
query="""
insert into PROJET values 
"""
execute(connection,query,show=True)

In [ ]:
query="""
insert into GRILLE_SAL values
"""
execute(connection,query,show=True)

In [ ]:
query="""
insert into EMBAUCHE values
"""
execute(connection,query,show=True)

## Exercice 3 : Violation des contraintes

### Proposez des insertions qui violent les contraintes d'intégrité définies pour chaque table.

In [ ]:
query="""
select * from employe
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Employé qui ne respecte pas la contrainte de clé primaire.

In [ ]:
query="""
insert into Employe values ...
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Employe qui ne respecte pas la contrainte de limite d'âge.

In [ ]:
query="""
insert into Employe
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Employe qui ne respecte pas la contrainte de longueur de l'attribut NumSS.

In [ ]:
query="""
insert into Employe
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Employe qui ne respecte pas la contrainte sur les villes possibles.

In [ ]:
query="""
insert into Employe
"""
execute(connection,query,show=True)

Insérer dans la table Employé deux employés avec le même nom et le même prénom.

In [ ]:
query="""
insert into Employe
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Grille_SAL qui ne respecte pas la contrainte sur le salaire qui ne doit pas dépasser 90 000.

In [ ]:
query="""
insert into Grille_SAL
"""
execute(connection,query,show=True)

Proposer une insertion dans la table Projet qui ne respecte pas la contrainte référentielle vers Employe : insérer un responsable de projet qui n'est pas dans la table Employé

In [ ]:
query="""
insert into Projet
"""
execute(connection,query,show=True)

Il est possible que la contrainte que le responsable soit dans la même ville est déclenchée. Vous pouvez enlever cette contrainte avec la commande :

    alter table drop constraint "nom de contrainte"
    
Il faudrait la recréer après avec

    alter table add constraint ....

Proposer une insertion dans la table Embauche qui ne respecte pas une des contraintes référentielles : par exemple, associer un employé existant à un projet qui n'existe pas.

In [ ]:
query="""
insert into Embauche values
"""
execute(connection,query,show=True)

# Fermer la connexion

In [ ]:
connection.commit() # implicit avec close
connection.close()